<div class="container">
    <div class="row">
      <div class="card d-flex justify-content-center" >
        <form (ngSubmit)="login()">
          <div class="mb-3">
            <label class="form-label">Usuario</label>
            <input [(ngModel)]="usuario.username" type="text" class="form-control"  name="username" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input [(ngModel)]="usuario.password" type="password" class="form-control" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>


