<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Fecha de creación</th>
        <th scope="col">Region</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of clientes">
        <td *ngIf="item.imagen">
          <img src="http://localhost:8087/api/clientes/img/{{item.imagen}}" style="width:54px" alt="">
        </td>
          <td *ngIf="!item.imagen">
            <img src="{{imagenSrc}}" style="width:54px" alt="">
          </td>
          <td>{{item.nombre}}</td>
          <td>{{item.apellido}}</td>
          <td>{{item.email}}</td>
          <td>{{item.telefono}}</td>
          <td>{{item.createAt |  date: 'dd/MM/yyyy'}}</td>
          <td>{{item.region.name}}</td>
          <td *ngIf="this.servicioUsuario">
            <a class="btn btn-info" routerLink="/cliente/view/{{item.id}}" routerLinkActive="router-link-active">Detalle</a>
            <a class="btn btn-primary" routerLink="/cliente/edit/{{item.id}}" routerLinkActive="router-link-active">Editar</a>
            <a class="btn btn-danger" (click)="borrarCliente(item)">Borrar</a>
        </td>
      </tr>
    </tbody>
  </table>
