<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Acciones</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of productos">
        <td>
          {{item.id}}
        </td>
        <td>{{item.nombre}}</td>
        <td *ngIf="this.servicioUsuario">
          <a class="btn btn-primary" routerLink="/producto/edit/{{item.id}}" routerLinkActive="router-link-active">Editar</a>
          <a class="btn btn-danger" (click)="borrarProducto(item)">Borrar</a>
      </td>
    </tr>
  </tbody>
</table>
