<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">App Clientes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente/new">Nuevo Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/producto/new">Nuevo Producto</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{this.servicio.usuario.username}}
          </a>


          <ul class="dropdown-menu">
            <li *ngIf="!servicio.token; else cerrar">
              <a class="dropdown-item" routerLink="/login">Iniciar Sesión</a>
            </li>

            <ng-template #cerrar>
              <a class="dropdown-item" (click)=" cerrarSesion()">Cerrar Sesión</a>
            </ng-template>


          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>

